* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}

header {
  width: 100;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top-style: groove;
  border-bottom-style: groove;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #7fffd4;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: #98fb98;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: #90ee90;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: #00ff7f;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: #f0e68c;
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: #ffff00;
}

.box7 {
  width: 200px;
  height: 200px;
  background-color: #ffd700;
}

.box8 {
  width: 200px;
  height: 200px;
  background-color: #ffa500;
}

.box9 {
  width: 200px;
  height: 200px;
  background-color: #add8e6;
}

.box10 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}

.box11 {
  width: 200px;
  height: 200px;
  background-color: #87cefa;
}

.box12 {
  width: 200px;
  height: 200px;
  background-color: #00bfff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}